

	            <form class="ui form" >
	                <!-- <sm-loader class="inverted" text="Loading..."></sm-loader> -->
	                <div class="field ui grid">
						<sm-input class="left labeled" label="教师姓名" placeholder="Enter address..."></sm-input>
						<sm-input class="left labeled" label="教师编号" placeholder="Enter address..."></sm-input>
						<sm-input class="left labeled" label="教师姓名" placeholder="Enter address..."></sm-input>
	                </div>
	                <div class="field ui grid">
						<sm-select label="教师编号" placeholder="Search..." class="">
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						</sm-select>
						<sm-select label="教师编号" placeholder="Search..." class="">
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						</sm-select>
						<sm-select label="教师编号" placeholder="Search..." class="">
						    <option>1</option>
						    <option>2</option>
						    <option>3</option>
						</sm-select>
	                </div>
	                <div class="field ui grid">
	                	<sm-input type="date" class="left labeled" label="教师姓名" placeholder="Enter address..."></sm-input>
	                </div>
	                <div class="field ui grid">
	                	<sm-input type="tel" class="left labeled" label="教师姓名" placeholder="Enter address..."></sm-input>
	                	<sm-input type="number" class="left labeled" label="教师姓名" placeholder="Enter address..."></sm-input>
	                </div>
	                <div class="field ui grid">
	                <textarea type="" class="left labeled" label="教师姓名" placeholder="Enter address..."></textarea>
	                </div>
	               	<div class="field ui grid">
	                <button class="ui button green" (click)="myModal.show()">Click me</button>
<sm-modal title="Hello from Modal" class="basic" #myModal>
    <modal-content>
        ...
    </modal-content>
</sm-modal>	                </div>
	            </form>

    
