<my-login class="my-login ">
    <div class="login-banner">
        <!-- <img src="../../../img/login-banner.png" alt=""> -->
        <div class="login-text">
            <div>
                <span class="login-welcome">welcome</span>
            </div>
            <div>
                <div class="login-name">
                    <div class="login-name-cn">
                        <span class="">数字校园平台</span>
                    </div>
                    <div class="login-name-en">
                        <span class="">Background Management System</span>
                    </div>
                    
                </div> 
            </div>
                 
        </div>
    </div>
    <div class="form-login">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon bg-light-blue-active"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username" />
            </div>

        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon bg-light-blue-active"><i class="fa fa-lock"></i></span>
                <input type="text" class="form-control" placeholder="password" />
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block">登录</button>
    </div>
    <my-footer></my-footer>
</my-login>


<!-- <footer class="main-footer"> -->
    <!-- To the right -->
    <!-- <div class="pull-right hidden-xs"> -->
        <!-- Heihei -->
    <!-- </div> -->
    <!-- Default to the left -->
    <!-- <strong>Copyright &copy; 2015 <a href="#">Yunbei</a>.</strong> All rights reserved. -->
<!-- </footer> -->
