    <sm-menu title="Angular2" class="inverted teal mg-tb16" logo="http://semantic-ui.com/images/logo.png">
        <a sm-item (click)="handleAddStaff()"><i class="add user icon"></i>新增教师</a>
    </sm-menu>
    <table class="ui teal compact celled definition table">
        <thead class="full-width">
            <tr>
                <th>教师姓名</th>
                <th>教师编号</th>
                <th>教师账号</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of STAFFUS.entries">
                <td>{{item.name}}</td>
                <td>{{item.staffNum}}</td>
                <td>{{item.userId}}</td>
                <td>
                    <div class="ui buttons">
                        <button class="ui primary labeled icon button" (click)="handleCreateAccount(item.id)">
                            <i class="edit icon"></i>生成账号
                        </button>
                        <button class="ui teal labeled icon button" (click)="handleModifyInfo(item)">
                            <i class="edit icon"></i>修改信息
                        </button>
                        <button class="ui red labeled icon button" (click)="handleRemoveAccount()">
                            <i class="remove user icon"></i>删除账号
                        </button>
                    </div>
                    
                </td>
            </tr>
            
        </tbody>
    </table>
    <pagination-container></pagination-container>

    <sm-modal title="教师基本信息" class="" icon="child icon" #staffModal>
    <modal-content>
       <form class="ui form" #myForm>
            <div class="ui two column doubling stackable grid">
                <div class="column field">
                   <label>教师姓名</label>
                    <input class="form-control left labeled" type="text" [(ngModel)]="STAFFMODALDATA.name" ngModel name="name" #requried="ngModel" required/>
                    <p class="alert alert-danger" *ngIf="requried?.errors?.required">required error</p>
                    <!-- <input class="left labeled" label="教师姓名" type="text" placeholder="输入教师姓名" [(ngModel)]="STAFFMODALDATA.name" name="name" required #name="ngModel">
                    <p *ngIf="STAFFMODALDATA.controls.name.errors?.required">required error</p> -->
                </div>
                <div class="column field">
                    <label>教师编号</label>
                    <input class="left labeled" label="教师姓名" type="text" placeholder="教师编号" [(ngModel)]="STAFFMODALDATA.staffNum" name="staffNum" #requried="ngModel" required>
                    <div class="ui negative message" *ngIf="requried?.errors?.required">
                        <div class="header">不能为空 </div>
                    </div>
                </div>
                 <div class="column field">
                    <label>学校</label>
                    <select class="ui dropdown SCHOOLSDICTIONARY" [(ngModel)]="STAFFMODALDATA.schoolId" name="schoolId" #requried="ngModel" required>
                      <option value="{{item.id}}" *ngFor="let item of SCHOOLSDICTIONARY">{{item.name}}</option>
                    </select>
                    <p class="alert alert-danger" *ngIf="requried?.errors?.required">required error</p>
                </div>
                <div class="column field">
                    <label>学科</label>
                    <select class="ui dropdown SUBJECTSDICTIONARY" [(ngModel)]="STAFFMODALDATA.teachingSubject" name="teachingSubject" #requried="ngModel" required>
                      <option value="{{item.id}}" *ngFor="let item of SUBJECTSDICTIONARY">{{item.name}}</option>
                    </select>
                    <p class="alert alert-danger" *ngIf="requried?.errors?.required">required error</p>
                </div>
            </div>
       </form>
    </modal-content>
    <modal-actions>
        <div class="ui large buttons">
            <button class="ui button teal submit" (click)="handleSaveStaff()">保存</button>
            <div class="or"></div>
            <div class="ui button red" (click)="staffModal.hide()">关闭</div>
        </div>
    </modal-actions>
</sm-modal>