<div class="ui two column stackable grid">
	<div class="column">
		<div class="ui segment">
			<h5>今日未勤学员</h5>
			<div class="ui divider"></div>
			<table class="ui teal compact celled definition table">
			    <thead class="full-width">
			        <tr>
			            <th></th>
			            <th>Name</th>
			            <th>Registration Date</th>
			            <th>E-mail address</th>
			            <th>Premium Plan</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td class="collapsing">
			                <div class="ui fitted slider checkbox">
			                    <input type="checkbox">
			                    <label></label>
			                </div>
			            </td>
			            <td>John Lilki</td>
			            <td>September 14, 2013</td>
			            <td>jhlilk22@yahoo.com</td>
			            <td>No</td>
			        </tr>
			    </tbody>
			</table>
			<pagination-container></pagination-container>
		</div>
		

	</div>
	<div class="column">
		<div class="ui segment">
			<h5>今日未勤学员</h5>
			<div class="ui divider"></div>
			<table class="ui teal compact celled definition table">
			    <thead class="full-width">
			        <tr>
			            <th></th>
			            <th>Name</th>
			            <th>Registration Date</th>
			            <th>E-mail address</th>
			            <th>Premium Plan</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td class="collapsing">
			                <div class="ui fitted slider checkbox">
			                    <input type="checkbox">
			                    <label></label>
			                </div>
			            </td>
			            <td>John Lilki</td>
			            <td>September 14, 2013</td>
			            <td>jhlilk22@yahoo.com</td>
			            <td>No</td>
			        </tr>
			    </tbody>
			</table>
			<pagination-container></pagination-container>
		</div>
		
	</div>
	<div class="column">
		<div class="ui segment">
			<h5>今日未勤学员</h5>
			<div class="ui divider"></div>
			<table class="ui teal compact celled definition table">
			    <thead class="full-width">
			        <tr>
			            <th></th>
			            <th>Name</th>
			            <th>Registration Date</th>
			            <th>E-mail address</th>
			            <th>Premium Plan</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td class="collapsing">
			                <div class="ui fitted slider checkbox">
			                    <input type="checkbox">
			                    <label></label>
			                </div>
			            </td>
			            <td>John Lilki</td>
			            <td>September 14, 2013</td>
			            <td>jhlilk22@yahoo.com</td>
			            <td>No</td>
			        </tr>
			    </tbody>
			</table>
			<pagination-container></pagination-container>
		</div>
		
	</div>
	<div class="column">
		<div class="ui segment">
			<h5>今日未勤学员</h5>
			<div class="ui divider"></div>
			<table class="ui teal compact celled definition table">
			    <thead class="full-width">
			        <tr>
			            <th></th>
			            <th>Name</th>
			            <th>Registration Date</th>
			            <th>E-mail address</th>
			            <th>Premium Plan</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td class="collapsing">
			                <div class="ui fitted slider checkbox">
			                    <input type="checkbox">
			                    <label></label>
			                </div>
			            </td>
			            <td>John Lilki</td>
			            <td>September 14, 2013</td>
			            <td>jhlilk22@yahoo.com</td>
			            <td>No</td>
			        </tr>
			    </tbody>
			</table>
			<pagination-container></pagination-container>
		</div>
		
	</div>
	<div class="column">
		<div class="ui segment">
			<h5>今日未勤学员</h5>
			<div class="ui divider"></div>
			<table class="ui teal compact celled definition table">
			    <thead class="full-width">
			        <tr>
			            <th></th>
			            <th>Name</th>
			            <th>Registration Date</th>
			            <th>E-mail address</th>
			            <th>Premium Plan</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td class="collapsing">
			                <div class="ui fitted slider checkbox">
			                    <input type="checkbox">
			                    <label></label>
			                </div>
			            </td>
			            <td>John Lilki</td>
			            <td>September 14, 2013</td>
			            <td>jhlilk22@yahoo.com</td>
			            <td>No</td>
			        </tr>
			    </tbody>
			</table>
			<pagination-container></pagination-container>
		</div>
		
	</div>
	<div class="column">
		<div class="ui segment">
			<h5>今日未勤学员</h5>
			<div class="ui divider"></div>
			<table class="ui teal compact celled definition table">
			    <thead class="full-width">
			        <tr>
			            <th></th>
			            <th>Name</th>
			            <th>Registration Date</th>
			            <th>E-mail address</th>
			            <th>Premium Plan</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td class="collapsing">
			                <div class="ui fitted slider checkbox">
			                    <input type="checkbox">
			                    <label></label>
			                </div>
			            </td>
			            <td>John Lilki</td>
			            <td>September 14, 2013</td>
			            <td>jhlilk22@yahoo.com</td>
			            <td>No</td>
			        </tr>
			    </tbody>
			</table>
			<pagination-container></pagination-container>
		</div>
		
	</div>
	
</div>