<md-toolbar id="toolbar" color="primary">
    <button md-fab (click)="sidenav.open()" color="primary">
        <md-icon>menu</md-icon>
    </button>
</md-toolbar>
<md-sidenav-container>
    <md-sidenav #sidenav>
        <md-list *ngFor="let item of menulist;let i = index">
          <h3 md-subheader>{{item.name}}</h3>
          <a md-list-item routerLinkActive="active" routerLink="{{childItem.url}}" *ngFor="let childItem of item.children;let o = index">
            <md-icon md-list-icon>{{childItem.icon}}</md-icon>
            <h4 md-line>{{childItem.name}}</h4>
          </a>
          <md-divider></md-divider>
        </md-list>
    </md-sidenav>
    <div class="main-content">
        
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>