
<h2 md-dialog-title>新增员工</h2>
<md-dialog-content>

  <form #addForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px"> 
        <md-input-container class="full-width">
          <input mdInput placeholder="姓名" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
        <md-input-container class="full-width" >
          <input mdInput placeholder="编号" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="电话" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="邮箱" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
    </div>
     <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="8px"> 
        <md-input-container class="full-width">
          <input mdInput placeholder="任教科目" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="学校" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="性别" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="婚否" name="name" [(ngModel)]="user.name" required>
        </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" > 
      <md-input-container class="full-width">
        <textarea mdInput placeholder="简介" name="name" [(ngModel)]="user.name" required></textarea>
      </md-input-container>
    </div>
  </form>
  
</md-dialog-content>
<md-dialog-actions class="flex-right">
  <button
    md-button
    color="primary"
    md-dialog-close>关闭</button>
  <button
    md-button
    color="primary"
    [disabled]="!addForm.form.valid"
    md-dialog-close>保存</button>
</md-dialog-actions>