
<md-toolbar color="primary">
  <button md-raised-button color="primary" (click)="openDialog()">新增</button>
  <button md-raised-button color="primary">修改</button>
  <button md-raised-button color="primary">导入</button>
  <button md-raised-button color="primary">导出</button>
</md-toolbar>
<div class="blank20"></div>
<ngx-datatable
	class="flex-header dark material striped"
	[headerHeight]="40"
	[footerHeight]="40"
	[rowHeight]="40"
	[rows]="rows"
	[columns]="columns"
	[limit]="page.size"
	[externalPaging]="true"
	[count]="page.totalElements"
	[offset]="page.pageNumber"
	(page)='setPage($event)'
>
</ngx-datatable>