
<h2 md-dialog-title>Neptune</h2>
<md-dialog-content>

  <form>
    <div fxLayout="row" fxLayoutAlign="space-around center" > 
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
    </div>
     <div fxLayout="row" fxLayoutAlign="space-around center" > 
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="State">
        </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" > 
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address 2" ></textarea>
      </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" > 
      <md-input-container class="full-width">
        <textarea mdInput placeholder="Address 2" ></textarea>
      </md-input-container>
    </div>
  </form>
  
</md-dialog-content>
<md-dialog-actions class="flex-right">
  <button
    md-button
    color="primary"
    md-dialog-close>关闭</button>
  <button
    md-button
    color="primary"
    md-dialog-close>保存</button>
</md-dialog-actions>