<div class="ui top attached menu">
    <a class="item">
        <i class="content icon"></i>
        开始排课
    </a>
    <a class="item">
        <i class="content icon"></i>
        保存排课
    </a>
</div>
<div class='parent'>
	<div id='side-top' class='container'>
		<!-- <div class='wrapper'> -->
			<div>时间</div>
    		<div>星期一</div>
    		<div>星期二</div>
    		<div>星期三</div>
    		<div>星期四</div>
    		<div>星期五</div>
    		<div>星期六</div>
    		<div>星期日</div>
		<!-- </div> -->
    </div>
    <div class='wrapper'>
    	<div id='side-left' class='container'>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    	</div>
        <div id='monday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='tuesday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='wednesday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='thursday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='friday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='saturday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='sunday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
    </div>
</div>
