

<div class="ui grid sheduleTab">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item first" data-tab="first">课程基础信息录入</a>
      <a class="item second" data-tab="second">班级信息录入</a>
      <a class="item third" data-tab="third">课程信息录入</a>
      <a class="item forth" data-tab="forth">教师信息录入</a>
      <a class="item fivth" data-tab="fivth">指定授课老师</a>
      <a class="item sixth" data-tab="sixth">规则设置</a>
    </div>
  </div>
  <div class="twelve wide stretched column content" >
    <div class="ui segment item active first" data-tab="first">
        <form class="ui form">
          <div class="field">
            <label>学期起始时间</label>
            <input type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="field">
            <label>学期周次总数</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>设置上课天数</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>上午课时</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>下午课时</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>早自习</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
          <div class="field">
            <label>晚自习</label>
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
        </form>
        <div class="ui column grid">
            <div class="column text-768-right">
                <div class="ui large buttons">
                    <button class="ui button teal" >保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment item second" data-tab="second">
        <div class="ui two column doubling stackable grid">
            <div class="column field">
                <form class="ui form">
                  <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last-name" placeholder="Last Name">
                  </div>
                </form>
            </div>
            <div class="column field">
                <div class="ui styled fluid accordion">
                  <div class="active title"><i class="dropdown icon"></i> What is a dog? </div>
                  <div class="active content">
                    <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
                  </div>
                  <div class="title"><i class="dropdown icon"></i> What kinds of dogs are there? </div>
                  <div class="content">
                    <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
                  </div>
                  <div class="title"><i class="dropdown icon"></i> How do you acquire a dog? </div>
                  <div class="content">
                    <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
                    <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui segment item third" data-tab="third">
        <sm-menu  class="inverted teal mg-tb16" >
            <a sm-item ><i class="add user icon"></i>新增教师</a>
        </sm-menu>
        <table class="ui teal compact celled definition table">
            <thead class="full-width">
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>教师姓名</th>
                    <th>教师编号</th>
                    <th>教师账号</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment item forth" data-tab="forth">
        <sm-menu  class="inverted teal mg-tb16" >
            <a sm-item ><i class="add user icon"></i>新增教师</a>
        </sm-menu>
        <table class="ui teal compact celled definition table">
            <thead class="full-width">
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>教师姓名</th>
                    <th>教师编号</th>
                    <th>教师账号</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment item fivth" data-tab="fivth">
        <sm-menu  class="inverted teal mg-tb16" >
            <a sm-item ><i class="add user icon"></i>新增教师</a>
        </sm-menu>
        <table class="ui teal compact celled definition table">
            <thead class="full-width">
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>教师姓名</th>
                    <th>教师编号</th>
                    <th>教师账号</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui segment item sixth" data-tab="sixth">
        <sm-menu  class="inverted teal mg-tb16" >
            <a sm-item ><i class="add user icon"></i>新增教师</a>
        </sm-menu>
        <table class="ui teal compact celled definition table">
            <thead class="full-width">
                <tr>
                    <th></th>
                    <th>id</th>
                    <th>教师姓名</th>
                    <th>教师编号</th>
                    <th>教师账号</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div> 
</div>





















<div class="ui top attached menu">
    <a class="item">
        <i class="content icon"></i>
        开始排课
    </a>
    <a class="item">
        <i class="content icon"></i>
        保存排课
    </a>
</div>
<div class='parent'>
	<div id='side-top' class='container'>
		<!-- <div class='wrapper'> -->
			<div>时间</div>
    		<div>星期一</div>
    		<div>星期二</div>
    		<div>星期三</div>
    		<div>星期四</div>
    		<div>星期五</div>
    		<div>星期六</div>
    		<div>星期日</div>
		<!-- </div> -->
    </div>
    <div class='wrapper'>
    	<div id='side-left' class='container'>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    		<div>8:00</div>
    	</div>
        <div id='monday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='tuesday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='wednesday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='thursday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='friday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='saturday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
        <div id='sunday' class='container'>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
            <div>语文</div>
            <div>数学</div>
            <div>外语</div>
            <div>体育</div>
        </div>
    </div>
</div>
