<form class="ui form">
    <div class="ui column grid">
        <div class="column text-768-right">
            <div class="ui large buttons">
                <button class="ui button teal label" (click)="handleSendMessage()"><i class="send icon"></i>提交</button>
            </div>
        </div>
    </div>
    <div class="ui column stackable grid">
        <div class="column">
            <label for="">旧密码</label>
            <input type="text">
        </div>
    </div>
    <div class="ui column stackable grid">
        <div class="column">
            <label for="">新密码</label>
            <input type="text">
        </div>
    </div>
	<div class="ui column stackable grid">
        <div class="column">
            <label for="">确认密码</label>
            <input type="text">
        </div>
    </div>
</form>