<div class="container" fxLayout="column" fxLayoutAlign="center center">
	<h1>教育系统</h1>
	<form #LoginForm="ngForm" fxLayout="column" fxLayoutAlign="center center">
		<md-input-container>		
			<span mdPrefix><md-icon>user</md-icon></span>
			<input id="username" type="text" mdInput placeholder="用户名" name="username">
		</md-input-container>
		<md-input-container>
			<span mdPrefix><md-icon>user</md-icon></span>
			<input id="password" type="password" mdInput placeholder="密码" name="password">
		</md-input-container>
		<div fxLayout="row" fxLayoutAlign="end start">
			<button
		    md-raised-button
		    color="primary"
		    >登陆</button>
		</div>
	</form>
</div>
