
<div class="ui container row">
    <div class="ui top attached menu">
        <a class="item" (click)="infoModal.show({inverted: true})">
            <i class="content icon"></i>
            新增资产
        </a>

        <a class="item" (click)="handleMake()">
            <i class="content icon"></i>
            二维码查询资产
        </a>

        <a class="item" (click)="handleMake()">
            <i class="content icon"></i>
            资产类别设置
        </a>

        <a class="item" (click)="handleMake()">
            <i class="content icon"></i>
            供应商管理
        </a>

        <a class="item" (click)="handleMake()">
            <i class="content icon"></i>
            资产编号规则设置
        </a>
    </div>
    <div class="ui attached segment table-frame">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>资产名称</th>
                    <th>类别</th>
                    <th>品牌</th>
                    <th>设备数量</th>
                    <th>规格型号</th>
                    <th>供应商</th>
                    <th>总数量</th>
                    <th>使用数</th>
                    <th>库存数</th>
                    <th>单价(元)</th>
                    <th>总价(元)</th>
                    <th>购买时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoData of infoDatas.entries" class="">
                    <td ><div class="ui checkbox"><input type="checkbox" id={{infoData.id}} name="{{infoData.name}}"></div></td>
                    <td><a routerLink="/hy/assets/detail/{{infoData.id}}">{{infoData.id}}</a></td>
                    <td>{{infoData.brand}}</td>
                    <td>{{infoData.inventoryQuantity}}</td>
                    <td>{{infoData.model}}</td>
                    <td>{{infoData.name}}</td>
                    <td>{{infoData.price}}</td>
                    <td>{{infoData.schoolId}}</td>
                    <td>{{infoData.supplier}}</td>
                    <td>{{infoData.totalQuantity}}</td>
                    <td>{{infoData.type}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-container
            pageNumber={{infoDatas.pageNumber}}
            hasNext={{infoDatas.hasNext}}
            hasPrevious={{infoDatas.hasPrevious}}
            (onFirst)="onFirstHandler($event)"
            (onLast)="onLastHandler($event)"
            (onNext)="onNextHandler($event)"
            (onPrevious)="onPreviousHandler($event)"
        ></pagination-container>
    </div>

</div>
<sm-modal title="新增资产" class="" icon="dashboard icon" #infoModal>
    <modal-content>
        <form class="ui form">
            <div class="four fields">
                <div class="field">
                  <label>资产名称</label>
                  <input type="text" name="first-name"  [(ngModel)]="equipment.name">
                </div>
                <div class="field">
                  <label>类别</label>
                  <input type="text" name="last-name"  [(ngModel)]="equipment.type">
                </div>
                <div class="field">
                  <label>品牌</label>
                  <input type="text" name="first-name"  [(ngModel)]="equipment.brand">
                </div>
                <div class="field">
                    <label>规格型号</label>
                    <input type="text" name="last-name"  [(ngModel)]="equipment.model">
                </div>
            </div>
            <div class="four fields">
                <div class="field">
                  <label>供应商</label>
                  <input type="text" name="first-name"  [(ngModel)]="equipment.supplier">
                </div>
                <div class="field">
                  <label>单价(元)</label>
                  <input type="number" name="last-name"  [(ngModel)]="equipment.price">
                </div>
                <div class="field">
                    <label>数量</label>
                    <input type="number" name="last-name"  [(ngModel)]="equipment.totalQuantity">
                </div>
                <div class="field">
                    <label>购买时间</label>
                    <input type="date" name="first-name"  [(ngModel)]="equipment.purchaseDate">
                </div>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleSave()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="infoModal.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="二维码" class="" icon="dashboard icon" #quickMarkModal>
    <modal-content>
        <div class="image content" *ngFor="let quickMarkData of quickMarkDatas">
            <div class="description">
                <label>设备编码</label>
                {{quickMarkData.id}}
            </div>
            <div class="description">
                <label>设备名称</label>
                {{quickMarkData.name}}
            </div>
            <div class="ui medium image">
                <div class="quickMark"></div>
            </div>
        </div>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handlePrint()">&nbsp;&nbsp;&nbsp;打印&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="quickMarkModal.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>