
<div class="ui container row">
    <div class="ui top attached menu">
        <a class="item" (click)="infoModal.show({inverted: true})">
            <i class="content icon"></i>
            新增资产
        </a>

        <a class="item" (click)="qrCodeModel.show({inverted: true})">
            <i class="content icon"></i>
            二维码查询资产
        </a>

        <a class="item" (click)="handletypeModel()">
            <i class="content icon"></i>
            资产类别设置
        </a>

        <a class="item" (click)="supplierModel.show({inverted: true})">
            <i class="content icon"></i>
            供应商管理
        </a>

        <a class="item" (click)="equipmentNoModel.show({inverted: true})">
            <i class="content icon"></i>
            资产编号规则设置
        </a>
    </div>
    <div class="ui segment mg-tb24">
        <div class="ui menu ASSETSSTATUSDICTIONARY">
            <a class="item">
                <div class="header">资产状态</div>
            </a>
            <a class="item active 0" name="0" (click)="handleChangeCondition(['ASSETSSTATUSDICTIONARY','0'])">全部</a>
            <a class="item 1"  name="1" (click)="handleChangeCondition(['ASSETSSTATUSDICTIONARY','1'])">使用中</a>
            <a class="item 2"  name="2" (click)="handleChangeCondition(['ASSETSSTATUSDICTIONARY','2'])">已报废</a>
        </div>
    </div>
    <div class="ui attached segment table-frame">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>资产名称</th>
                    <th>类别</th>
                    <th>品牌</th>
                    <th>规格型号</th>
                    <th>供应商</th>
                    <th>总数量</th>
                    <th>使用数</th>
                    <th>库存数</th>
                    <th>单价(元)</th>
                    <th>总价(元)</th>
                    <th>购买时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoData of infoDatas.entries" class="">
                    <!--<td><div class="ui checkbox"><input type="checkbox" id={{infoData.id}} name="{{infoData.name}}"></div></td>-->
                    <td>{{infoData.id}}</td>
                    <td><a routerLink="/hy/assets/detail/{{infoData.id}}">{{infoData.name}}</a></td>
                    <td>{{infoData.type}}</td>
                    <td>{{infoData.brand}}</td>
                    <td>{{infoData.model}}</td>
                    <td>{{infoData.supplier}}</td>
                    <td>{{infoData.totalQuantity}}</td>
                    <td>{{infoData.totalQuantity - infoData.inventoryQuantity}}</td>
                    <td>{{infoData.inventoryQuantity}}</td>
                    <td>{{infoData.price}}</td>
                    <td>{{infoData.totalQuantity * infoData.price}}</td>
                    <td>{{infoData.purchaseDate|date:'yyyy.MM.dd'}}</td>
                    <td><a class="item" (click)="handleUpdateModel(infoData)">编辑</a></td>
                </tr>
            </tbody>
        </table>
        <pagination-container
            pageNumber={{infoDatas.pageNumber}}
            hasNext={{infoDatas.hasNext}}
            hasPrevious={{infoDatas.hasPrevious}}
            (onFirst)="onFirstHandler($event)"
            (onLast)="onLastHandler($event)"
            (onNext)="onNextHandler($event)"
            (onPrevious)="onPreviousHandler($event)"
        ></pagination-container>
    </div>

</div>
<sm-modal title="新增资产" class="" icon="dashboard icon" #infoModal>
    <modal-content>
        <form class="ui form">
            <div class="four fields">
                <div class="field">
                  <label>资产名称</label>
                  <input type="text" name="name"  [(ngModel)]="equipment.name" required>
                </div>
                <div class="field">
                  <label>类别</label>
                  <select class="ui dropdown" [(ngModel)]="equipment.type" name="type" required>
                    <option value="{{typeData.id}}" *ngFor="let typeData of typeDatas">{{typeData.equipmentTypeName}}</option>
                  </select>
                </div>
                <div class="field">
                  <label>品牌</label>
                  <input type="text" name="brand"  [(ngModel)]="equipment.brand" required>
                </div>
                <div class="field">
                    <label>规格型号</label>
                    <input type="text" name="model"  [(ngModel)]="equipment.model" required>
                </div>
            </div>
            <div class="four fields">
                <div class="field">
                  <label>供应商</label>
                    <select class="ui dropdown" [(ngModel)]="equipment.supplier" name="supplier" required>
                        <option value="{{supplierForAllData.id}}" *ngFor="let supplierForAllData of supplierForAllDatas">{{supplierForAllData.supplierName}}</option>
                    </select>
                </div>
                <div class="field">
                  <label>单价(元)</label>
                  <input type="number" name="price"  [(ngModel)]="equipment.price" required>
                </div>
                <div class="field">
                    <label>数量</label>
                    <input type="number" name="totalQuantity"  [(ngModel)]="equipment.totalQuantity" required>
                </div>
                <div class="field">
                    <label>购买时间</label>
                    <input type="date" name="purchaseDate"  [(ngModel)]="equipment.purchaseDate" required>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleSave()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="infoModal.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="二维码查询" class="" icon="dashboard icon" #qrCodeModel>
    <modal-content>
        <form class="ui form">
            <div class="one fields">
                <label>请使用扫码枪扫描二维码</label>
            </div>
            <div class="one fields">
                <input type="text" name="qrCode"  [(ngModel)]="equipment.qrCode" required>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleInOutStock()">&nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="qrCodeModel.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="资产类别设置" class="" icon="dashboard icon" #typeModel>
    <modal-content>
        <div class="ui container row">
            <div class="ui top attached menu">
                <a class="item" (click)="handleCliAddTypeItem()">
                    <i class="content icon"></i>
                    新增
                </a>

                <a class="item" (click)="handleRemoveType()">
                    <i class="content icon"></i>
                    删除
                </a>
            </div>

            <div class="ui attached segment table-frame">
                <table class="ui striped table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>序号</th>
                        <th>类别名</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let typeData of typeDatas" class="">
                        <td><div class="ui checkbox"><input type="checkbox" id={{typeData.id}} name="{{typeData.equipmentTypeName}}"></div></td>
                        <td>{{typeData.id}}</td>
                        <td>{{typeData.equipmentTypeName}}</td>
                    </tr>
                    <tr class="addItem fields" style="display: none">
                        <td colspan="3">
                            <div class="ui fluid input">
                                <input type="text" placeholder="输入新增的类别名" name="equipmentTypeName" [(ngModel)]="equipment.equipmentTypeName">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleSaveType()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="typeModel.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="供应商设置" class="" icon="dashboard icon" #supplierModel>
    <modal-content>
        <div class="ui container row">
            <div class="ui top attached menu">
                <a class="item" (click)="handleCliAddSupplierItem()">
                    <i class="content icon"></i>
                    新增
                </a>

                <a class="item" (click)="handleRemoveSupplier()">
                    <i class="content icon"></i>
                    删除
                </a>
            </div>

            <div class="ui attached segment table-frame">
                <table class="ui striped table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>序号</th>
                        <th>供应商名称</th>
                        <th>供应商电话</th>
                        <th>供应商邮箱</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let supplierData of supplierDatas.entries" class="">
                        <td><div class="ui checkbox"><input type="checkbox" id={{supplierData.id}}></div></td>
                        <td>{{supplierData.id}}</td>
                        <td>{{supplierData.supplierName}}</td>
                        <td>{{supplierData.supplierPhone}}</td>
                        <td>{{supplierData.supplierEmail}}</td>
                    </tr>
                    <tr class="addSupplierItem fields" style="display: none">
                        <td></td>
                        <td></td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" placeholder="供应商名称" name="supplierName" [(ngModel)]="equipment.supplierName">
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" placeholder="供应商电话" name="supplierPhone" [(ngModel)]="equipment.supplierPhone">
                            </div>
                        </td>
                        <td>
                            <div class="ui fluid input">
                                <input type="text" placeholder="供应商邮箱" name="supplierEmail" [(ngModel)]="equipment.supplierEmail">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleSaveSupplier()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="supplierModel.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="资产编号规则设置" class="" icon="dashboard icon" #equipmentNoModel>
    <modal-content>
        <form class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>前缀</label>
                    <input type="text" name="prefix"  [(ngModel)]="equipment.prefix" required>
                </div>
                <div class="field">
                    <label>数字位数</label>
                    <input type="number" name="digit"  [(ngModel)]="equipment.suffixno" required>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleSaveEquipmentNo()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="equipmentNoModel.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="资产出入库" class="" icon="dashboard icon" #inOutStockModel>
    <modal-content>
        <form class="ui form">
            <div class="four fields">
                <div class="field disabled">
                    <label>资产名称</label>
                    <input type="text" name="name" value="{{inOutStockData.name}}">
                </div>
                <div class="field disabled">
                    <label>类别</label>
                    <input type="text" name="type"  value="{{inOutStockData.type}}">
                </div>
                <div class="field disabled">
                    <label>品牌</label>
                    <input type="text" name="brand"  value="{{inOutStockData.brand}}">
                </div>
                <div class="field disabled">
                    <label>规格型号</label>
                    <input type="text" name="model"  value="{{inOutStockData.model}}">
                </div>
            </div>
            <div class="four fields">
                <div class="field disabled">
                    <label>资产编号</label>
                    <input type="text" name="barCode"  value="{{inOutStockData.barCode}}">
                </div>
                <div class="field">
                    <label>出入库</label>
                    <input type="text" name="status"  value="{{inOutStockData.status}}" [(ngModel)]="equipment.status">
                </div>
                <div class="field">
                    <label>姓名</label>
                    <input type="text" name="staffId"  value="{{inOutStockData.staffId}}" [(ngModel)]="equipment.staffId" required>
                </div>
                <div class="field">
                    <label>电话</label>
                    <input type="number" name="seriesNumber"  value="{{inOutStockData.seriesNumber}}" [(ngModel)]="equipment.seriesNumber" required>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleInOutStockSave()">&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="inOutStockModel.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>

<sm-modal title="更新资产" class="" icon="dashboard icon" #updateModal>
    <modal-content>
        <form class="ui form">
            <div class="four fields">
                <div class="field">
                    <label>资产名称</label>
                    <input type="text" name="name"  [(ngModel)]="equipment.name">
                </div>
                <div class="field">
                    <label>类别</label>
                    <select class="ui dropdown" [(ngModel)]="equipment.type" name="type">
                        <option value="{{typeData.id}}" *ngFor="let typeData of typeDatas">{{typeData.equipmentTypeName}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>品牌</label>
                    <input type="text" name="brand"  [(ngModel)]="equipment.brand">
                </div>
                <div class="field">
                    <label>规格型号</label>
                    <input type="text" name="model"  [(ngModel)]="equipment.model">
                </div>
            </div>
            <div class="four fields">
                <div class="field">
                    <label>供应商</label>
                    <select class="ui dropdown" [(ngModel)]="equipment.supplier" name="supplier">
                        <option value="{{supplierForAllData.id}}" *ngFor="let supplierForAllData of supplierForAllDatas">{{supplierForAllData.supplierName}}</option>
                    </select>
                </div>
                <div class="field">
                    <label>单价(元)</label>
                    <input type="number" name="price"  [(ngModel)]="equipment.price">
                </div>
                <div class="field">
                    <label>数量</label>
                    <input type="number" name="totalQuantity"  [(ngModel)]="equipment.totalQuantity">
                </div>
                <div class="field">
                    <label>购买时间</label>
                    <input type="date" name="purchaseDate"  [(ngModel)]="equipment.purchaseDate">
                </div>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleUpdate()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="updateModal.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>