/*****************************
 *  hy
 ****************************/
 
 hy-container {
    display: block;
    padding-top: 80px;
 	.custom-nav-class {
        z-index: 1000;
        width: 100%;
    }
    .custom-nav-class {
        position: fixed;
        top: 0;
        sm-segment>div.ui.segment {
            border-top-left-radius:0;
            border-top-right-radius:0;
            padding-right: 40px;
        }

        sm-segment>div>p {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
        }
    }
    .cards {
        .card {
            .content {
                .header {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }  
    .page-detail {
        text-align: center;
    }
    .ui.cards>.card>.image>img {
        height: 200px;
    }
    #globalInputContainer{
        #globalInputBtn{
            z-index: 100;
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 0;
            width: 38px;
            height: 38px;
            line-height: 38px;
        }
        
    } 

    hy-shedule-index-container {
        .gh-fork {
          position: fixed;
          top: 0;
          right: 0;
          border: 0;
        }

        /* dragula-specific example page styles */
        .wrapper {
            display: flex;
            width: 100%;
        }
        .container {
          display: table-cell;
          background-color: rgba(255, 255, 255, 0.2);
          width: 100%;
        }
        .container:nth-child(odd) {
          background-color: rgba(0, 0, 0, 0.2);
        }
        /*
         * note that styling gu-mirror directly is a bad practice because it's too generic.
         * you're better off giving the draggable elements a unique class and styling that directly!
         */
        .container > div,
        .gu-mirror {
          margin: 10px;
          padding: 10px;
          background-color: rgba(0, 0, 0, 0.2);
          transition: opacity 0.4s ease-in-out;
        }
        .container > div {
          cursor: move;
          cursor: grab;
          cursor: -moz-grab;
          cursor: -webkit-grab;
        }
        .gu-mirror {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
        .container .ex-moved {
          background-color: #e74c3c;
        }
        .container.ex-over {
          background-color: rgba(255, 255, 255, 0.3);
        }
        #left-lovehandles > div,
        #right-lovehandles > div {
          cursor: initial;
        }

        #side-top {
            display: flex;
            width:100%;
            &>div{
                width:100%;
            }
        }
        
    }  
 }






















