/*****************************
 *  hy
 ****************************/
 
 hy-container {
    display: block;
    padding-top: 80px;
 	.custom-nav-class {
        z-index: 1000;
        width: 100%;
    }
    .custom-nav-class {
        position: fixed;
        top: 0;
        sm-segment>div.ui.segment {
            border-top-left-radius:0;
            border-top-right-radius:0;
            padding-right: 40px;
        }

        sm-segment>div>p {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            align-items: center;
        }
    }
    .cards {
        .card {
            .content {
                .header {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }  
    .page-detail {
        text-align: center;
    }
    .ui.cards>.card>.image>img {
        height: 200px;
    }
 }






















