


/**
 * global
 */
html.ios, 
html.ios body,
html,body,
my-app,
content-container {
	height: 100%!important;
	width: 100%!important;
	margin: 0!important;
	padding: 0!important;
	display: block!important;
    background-color: white!important;
}

html {
    overflow-x: hidden;
}
body,
.pushable>.pusher {
    overflow: inherit!important;
}
.pushable>.pusher.dimmable.dimmed {
    overflow: hidden!important;
}
body>div.pusher {
    height: 100%!important;
}
body>.ui.vertical.menu .item>.header:not(.ui) {
    font-size:1.5em;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}

@for $i from 0 to 10 {
    .font-size#{12+12*$i} {
        font-size: #{12+12*$i}px!important;
    }
}

@for $i from 0 to 10 {
    .pd#{$i*8} {
        padding: #{$i*8}px!important;
    }
}

@for $i from 0 to 10 {
    .mg#{$i*8} {
        margin: #{$i*8}px!important;
    }
}
@for $i from 0 to 10 {
    .mg-rl#{$i*8} {
        margin-left: #{$i*8}px!important;
        margin-right: #{$i*8}px!important;
    }
}
@for $i from 0 to 10 {
    .mg-tb#{$i*8} {
        margin-top: #{$i*8}px!important;
        margin-bottom: #{$i*8}px!important;
    }
}
@for $i from 0 to 10 {
    .pd-rl#{$i*8} {
        padding-left: #{$i*8}px!important;
        padding-right: #{$i*8}px!important;
    }
}
@for $i from 0 to 10 {
    .pd-tb#{$i*8} {
        padding-top: #{$i*8}px!important;
        padding-bottom: #{$i*8}px!important;
    }
}
.primary-color {
    background-color: #009688!important;
}
pagination-container {
    display: block;
    width: 100%;
    text-align: center;
}
.text-768-right {
    text-align: center;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sidebar .ui.accordion .title {
    color: rgba(255,255,255,.9)!important;
}

@media screen and (min-width: 768px) {

    /**
     * global
     */
    .text-768-right {
        text-align: right;
    }
    pagination-container {
        text-align: right;
    }

    /**
     * login
     */
    login1-form {
        display: block;
        height: 100%;
        padding: 32px;
        .ui.grid {
            height: 100%;
        }
        .ui.grid>.row>.column+.divider {
            left: 50%;
            height: 50%;
        }
        sm-segment {
            display: block;
            max-width: 400px;
            display:inline-block;
        }
        .ui.grid>.row>.column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 24px;
        }
        .ui.grid>.row>.column.login-left {
            align-items:flex-end;
            padding-right: 80px;
        }
        .ui.grid>.row>.column.login-right {
            align-items:flex-start;
            padding-left: 80px;
        }

    }
    
     
}
@media screen and (max-width: 767px) { 
    /**
     * global
     */
    .ui.menu {
        flex-wrap: wrap;
    }
    /**
     * login
     */
    login1-form {
        .ui.grid>.row>.column {
             text-align: center;
        }
        .login-left>div {
            max-width: 210px;
            display: inline-block;
            margin-top: 10%;
        }
    }
    
    

}















