
<div class="ui container row">
    <my-header></my-header>
    <!-- <img class="ui small centered circular image" src="../../build/assets/angular.png"> -->
    <!-- <div class="ui left top attached menu">
        <div class="left menu">
            <div class="ui item">
              <div class="ui transparent icon input">
                <i class="search link icon"></i>
                <input class="prompt" type="text" placeholder="Search animals...">
              </div>
            </div>
        </div>


      <div class="right menu">
          <a class="item">
              <i class="search link icon"></i>
          </a>
      </div>
    </div> -->
    <div class="ui top attached menu">
        <a class="item" (click)="infoModal.show({inverted: true})">
            <i class="content icon"></i>
            新增设备
        </a>
        <!-- <a class="item" (click)="modifyHandle()">
            <i class="plus icon"></i>
            修改设备
        </a> -->
       <!--  <a class="item" (click)="libraryModal.show({inverted: true})">
            <i class="grid layout icon"></i>
            新增出库
        </a> -->
    </div>
    <div class="ui attached segment table-frame">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>设备编码</th>
                    <th>设备名称</th>
                    <th>设备数量</th>
                    <th>库存号</th>
                    <th>使用状态</th>
                    <th>设备数量</th>
                    <th>库存号</th>
                    <th>使用状态</th>
                    <th>设备数量</th>
                    <th>库存号</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let infoData of infoDatas.entries" class="transition hidden">
                    <td><a routerLink="/detailed/{{infoData.id}}">{{infoData.id}}</a></td>
                    <td>{{infoData.brand}}</td>
                    <td>{{infoData.inventoryQuantity}}</td>
                    <td>{{infoData.model}}</td>
                    <td>{{infoData.name}}</td>
                    <td>{{infoData.price}}</td>
                    <td>{{infoData.schoolId}}</td>
                    <td>{{infoData.supplier}}</td>
                    <td>{{infoData.totalQuantity}}</td>
                    <td>{{infoData.type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached menu">
        <div class="right menu">
            <!-- <div class="ui pagination menu"> -->
            <a class="item" *ngIf="infoDatas.hasPrevious" class="item" (click)="handleGetPrevious()">
                <i class="angle left icon"></i>
            </a>
            <a class="item disabled" *ngIf="!infoDatas.hasPrevious" class="item disabled">
                <i class="angle left icon"></i>
            </a>
            <a class="item">
            {{infoDatas.pageNumber}}/{{infoDatas.totalPage}}
            </a>
            <a *ngIf="infoDatas.hasNext" class="item" (click)="handleGetNext()">
                <i class="angle right icon"></i>
            </a>
            <a *ngIf="!infoDatas.hasNext" class="item disabled">
                <i class="angle right icon"></i>
            </a>
            <!-- </div> -->
        </div>

    </div>
</div>
<my-footer></my-footer>

<sm-modal title="Hello from Modal" class="" icon="home" #infoModal>
    <modal-content>
        <form class="ui form">
            <div class="three fields">
                <div class="field">
                  <label>设备名称</label>
                  <input type="text" name="first-name"  [(ngModel)]="equipment.name">
                </div>
                <div class="field">
                  <label>设备品牌</label>
                  <input type="text" name="last-name"  [(ngModel)]="equipment.brand">
                </div>
                <div class="field">
                  <label>设备型号</label>
                  <input type="text" name="first-name"  [(ngModel)]="equipment.model">
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                  <label>设备类型</label>
                  <input type="text" name="last-name"  [(ngModel)]="equipment.type">
                </div>
                <div class="field">
                  <label>设备价格</label>
                  <input type="number" name="first-name"  [(ngModel)]="equipment.price">
                </div>
                <div class="field">
                  <label>供应商</label>
                  <input type="text" name="last-name"  [(ngModel)]="equipment.supplier">
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                  <label>购买时间</label>
                  <input type="date" name="last-name"  [(ngModel)]="equipment.purchaseDate">
                </div>
                <div class="field">
                  <label>生产日期</label>
                  <input type="date" name="first-name"  [(ngModel)]="equipment.productionDate">
                </div>
                <div class="field">
                  <label>数量</label>
                  <input type="number" name="first-name"  [(ngModel)]="equipment.totalQuantity">
                </div>
            </div>
            <div class="field fluid">
                <sm-select [(model)]="equipment.schoolId" label="学校" >
                  <option *ngFor="let infoData of shcools" value="{{infoData.id}}">{{infoData.name}}</option>
                </sm-select>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button green" (click)="handleSave()">&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;</div>
            <div class="ui button red" (click)="infoModal.hide()">&nbsp;&nbsp;&nbsp;关闭&nbsp;&nbsp;&nbsp;</div>
        </div>
    </modal-actions>
</sm-modal>


