<form class="ui form">
    <h2>密码修改</h2>
    <div class="ui one column stackable grid">
        <!-- <div class="column field">
            <label>旧&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
            <input class="left labeled" label="旧密码" type="text" placeholder="旧密码"/>
        </div> -->
        <div class="column field">
            <label>新&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
            <input class="left labeled wd" label="新密码" type="text" placeholder="新密码" />
        </div>
        <div class="column field">
            <label>确认密码</label>
            <input class="left labeled confirmwd" label="确认密码" type="text" placeholder="确认密码"/>
        </div>
    </div>
    <div class="ui column grid">
        <div class="column text-768-right">
            <div class="ui large buttons">
                <button class="ui button teal" (click)="handleSavePsd()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
            </div>
        
        </div>
    </div>
</form>
