<div class="ui three item menu mg-tb16">
    <a class="item" routerLink="/hy/personal/index">个人信息</a>
    <a class="active item" routerLink="/hy/personal/collections">个人收藏</a>
    <a class="item" routerLink="/hy/personal/upload">上传文件</a>
</div>
<sm-list class="animated divided relaxed">
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    <sm-item>
        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
        <span>1</span>
    </sm-item>
    
    <div class="ui divider"></div>

    <pagination-container></pagination-container>
    
</sm-list>
