
        
        <sm-list class="animated divided relaxed">
            <sm-item>
                <img class="ui middle aligned small image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                <span>
                    <a class="header">Daniel Louise</a>
                        <div class="description">
                            Last seen watching
                            <a><b>Arrested Development</b></a> just now.
                            <div class="ui accordion fluid detail">
                              <div class="title">
                                <i class="dropdown icon"></i>
                                查看详细资料
                              </div>
                              <div class="content">
                                <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
                              </div>
                            </div>
                        </div>
                </span>
            </sm-item>
        </sm-list>
        <div class="ui divider"></div>
        <sm-tabs>
            <sm-tab title="资源">
                <sm-list class="animated divided relaxed">
                    <sm-item *ngFor="let menuitem of basedata.education">
                        <img class="ui middle aligned tiny image" src="http://semantic-ui.com/images/avatar2/large/kristy.png">
                        <span>{{menuitem.name}}</span>
                    </sm-item>
                    <div class="ui divider"></div>

                    <pagination-container></pagination-container>
                    
                </sm-list>
            </sm-tab>
            <sm-tab title="动态">
            </sm-tab>
        </sm-tabs>

