<div class="ui column divided grid ">
    <div class="row">
        <div class="twelve wide column">
            <div class="row">
                <pdf-viewer [src]="pdfSrc" 
                            [page]="page" 
                            [original-size]="true" 
                            style="display: block;text-align: center;">
                </pdf-viewer>
                <div>
                    <label>Page:</label>
                    <input type="number" placeholder="Page" [(ngModel)]="page">
                </div>
            </div>
            <div class="ui comments">
              <h3 class="ui dividing header">评论</h3>
              <div class="comment" *ngFor="let comment of comments">
                <a class="avatar">
                </a>
                <div class="content">
                  <a class="author">{{comment.userId}}</a>
                  <div class="metadata">
                    <span class="date">{{comment.createdTime|date:'yyyy.MM.dd'}}</span>
                  </div>
                  <div class="text">
                    {{comment.content}}
                  </div>
                </div>
              </div>
              <form class="ui reply form">
                <div class="field">
                  <textarea [(ngModel)]="commentText" name="commentText"></textarea>
                </div>
                <div class="ui blue labeled submit icon button" (click)="addComment()">
                  <i class="icon edit"></i> 回 复
                </div>
              </form>
            </div>
        </div>
        <div class="four wide column ">
            <div class="ui card" style="margin-top:24px;">
                <div class="content">
                    <i class="right floated star icon"></i>
                    <div class="header">文件标题&nbsp;{{article.resourceName}}</div>
                    <div class="description">
                        <p>学科：&nbsp;{{article.subjectName}}</p>
                        <p>年级：&nbsp;{{article.gradeName}}</p>
                        <p>作者：&nbsp;<a routerLink="/hy/personal/other/{{article.staffId}}">{{article.staffName}}</a></p>
                        <p>时间：&nbsp;{{article.createdTime|date:'yyyy.MM.dd'}}</p>
                    </div>
                </div>
            </div>
            <div class="ui buttons">
              <button class="positive ui button large" (click)="passExamine()">
                <i class="icon download"></i> 审核通过
              </button>
              <button class="negative ui button large" (click)="failedExamine()">
                  <i class="icon download"></i> 审核失败
              </button>
            </div>
            <div class="ui buttons">
              <button class="positive ui button large" (click)="collection()">
                <i class="icon download"></i> 收藏
              </button>
              <button class="negative ui button large" (click)="download()">
                  <i class="icon download"></i> 下载
              </button>
            </div>
        </div>
    </div>
</div>  








  