<div class="ui column divided grid ">
    <div class="row">
        <div class="twelve wide column">
            <div class="row">
                <pdf-viewer [src]="pdfSrc" 
                            [page]="page" 
                            [original-size]="false" 
                            (after-load-complete)="callBackFn($event)"
                            style="display: block;text-align: center;">
                </pdf-viewer>
                <div class="page-detail"> 
                    <button class="ui button large disabled" *ngIf="page===minPage">
                      上一页
                    </button>                    
                    <button class="ui button large" (click)="previewPage()" *ngIf="page!==minPage">
                      上一页
                    </button>                    
                    <div class="ui tiny statistic mg-rl24">
                      <div class="value">
                        {{page}}
                      </div>
                    </div>
                    <button class="ui button large disabled" *ngIf="page===maxPage">
                      下一页
                    </button>
                    <button class="ui button large" (click)="nextPage()" *ngIf="page!==maxPage">
                      下一页
                    </button>
                </div>
            </div>
            <div class="ui comments">
              <h3 class="ui dividing header">评论</h3>
              <div class="comment" *ngFor="let comment of comments">
                <a class="avatar">
                </a>
                <div class="content">
                  <a class="author">{{comment.userId}}</a>
                  <div class="metadata">
                    <span class="date">{{comment.createdTime|date:'yyyy.MM.dd'}}</span>
                  </div>
                  <div class="text">
                    {{comment.content}}
                  </div>
                </div>
              </div>
              <form class="ui reply form">
                <div class="field">
                  <textarea [(ngModel)]="commentText" name="commentText"></textarea>
                </div>
                <div class="ui blue labeled submit icon button" (click)="addComment()">
                  <i class="icon edit"></i> 回 复
                </div>
              </form>
            </div>
        </div>
        <div class="four wide column ">
            <div class="ui card" style="margin-top:24px;">
                <div class="content">
                    <!-- <i class="right floated star icon"></i> -->
                    <div class="header">文件标题&nbsp;{{article.resourceName}}</div>
                    <div class="description">
                        <p>学科：&nbsp;{{article.subjectName}}</p>
                        <p>年级：&nbsp;{{article.gradeName}}</p>
                        <p>作者：&nbsp;<a routerLink="/hy/personal/other/{{article.staffId}}">{{article.staffName}}</a></p>
                        <p>时间：&nbsp;{{article.createdTime|date:'yyyy.MM.dd'}}</p>
                    </div>
                </div>
            </div>
            <div class="ui buttons vertical full-width">
              <button class="ui button large fluid " (click)="passExamine()">
                <i class="smile icon"></i> 审核通过
              </button>
              <br/>
              <button class="ui button large fluid " (click)="failedExamine()">
                  <i class="meh icon"></i> 审核失败
              </button>
              <br/>
              <button class="ui button large fluid " (click)="collection()">
                <i class="thumbs up icon"></i> 收藏
              </button>
              <br/>
              <button class="ui button large fluid " (click)="download()">
                  <i class="icon download"></i> 下载
              </button>
            </div>
        </div>
    </div>
</div>  








  