<div fxLayout="column" fxLayoutAlign="center center" class="full-width" class.xs="pd0 mg-tb16" class.sm="pd16" class.md="pd32" class.lg="pd64 pd-10" class.xl="pd64 pd-20">
    <md-toolbar>
        <button md-raised-button>新增设备</button>
        <button md-raised-button>修改设备</button>
        <button md-raised-button>删除设备</button>
        <button md-raised-button>查询设备</button>
    </md-toolbar>
    <ngx-datatable 
        class="material"
        [rows]="rows" 
        [columns]="columns" 
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [count]="count"
        [limit]="limit"

        fxFlexFill
        >
            
    </ngx-datatable>
</div>