<div class="ui three item menu mg-tb16">
    <a class="active item" routerLink="/hy/personal/index">个人信息</a>
    <a class="item" routerLink="/hy/personal/collections">个人收藏</a>
    <a class="item" routerLink="/hy/personal/upload">上传文件</a>
</div>
<form class="ui form">
    <div class="ui column centered grid mg-tb8">
       <!--  <div>
            <form id="uploadHeaderForm" enctype="multipart/form-data">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center changeHeaderImg" >
                            点击更换头像
                        </div>
                    </div>
                </div>
                <div class="mouseover-section"></div>
                <div id="preview">
                <img class="ui small avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
                <img id="imghead" class="ui small image imghead" border="0"   >
                </div>
                <input type="file"  style="display: none;" id="previewImg">
            </form>

        </div> -->
        <!-- <div class="ui special cards"> -->
            <div class="special card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button" (click)="changeHeader()">切换头像</div>
                  </div>
                </div>
              </div>
                <div id="preview">
                    <img id="imghead" class="ui small image avatar imghead" border="0"   >
                </div>
                <input type="file"  style="display: none;" id="previewImg">
              <!-- <img id="headerImage" class="ui small avatar image"> -->
            </div>
            </div>

        <!-- </div> -->
    </div>
    <div class="ui four column doubling stackable grid">

        <div class="column field">
            <label>教师编号</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="教师编号" [(ngModel)]="staff.staffNum" name="staffNum" readonly>
        </div>
        <div class="column field">
            <label>学校</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="学校" [(ngModel)]="staff.schoolName" name="schoolName" readonly>
        </div>
        <div class="column field">
            <label>教师姓名</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="输入教师姓名" [(ngModel)]="staff.name" name="name">
        </div>
        <div class="column field">
            <label>联系电话</label>
            <input class="left labeled" label="教师姓名" type="tel" placeholder="联系电话" [(ngModel)]="staff.phone" name="phone">
        </div>
        <div class="column field">
            <label>联系地址</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="联系地址" [(ngModel)]="staff.homeAddress" name="homeAddress">
        </div>
        <div class="column field">
            <label>地址邮编</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="地址邮编" [(ngModel)]="staff.homeZipCode" name="homeZipCode" (change)="emailChange()">
        </div>
        <div class="column field">
            <label>联系邮箱</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="联系邮箱" [(ngModel)]="staff.email" name="email" >
        </div>
    </div>


    <div class="ui column grid">
        <div class="column text-768-right">
            <div class="ui large buttons">
                <button class="ui button teal" (click)="handleSaveData()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                <div class="or"></div>
                <button class="ui button red" (click)="handleResetData()">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
            </div>
            <div>
            </div>
        </div>
    </div>
</form>
