<div class="ui three item menu mg-tb16">
    <a class="active item" routerLink="/hy/personal/index">个人信息</a>
    <a class="item" routerLink="/hy/personal/collections">个人收藏</a>
    <a class="item" routerLink="/hy/personal/upload">上传文件</a>
</div>
<form class="ui form">
    <div class="ui column centered grid mg-tb8">
        <div>
            <img class="ui small avatar image" src="http://semantic-ui.com/images/avatar2/small/rachel.png">
        </div>
    </div>
    <div class="ui four column doubling stackable grid">
        
        <div class="column field">
            <label>教师编号</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="教师编号" [(ngModel)]="staff.staffNum" name="staffNum" readonly>
        </div>
        <div class="column field">
            <label>学校</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="学校" [(ngModel)]="staff.schoolName" name="schoolName" readonly>
        </div>
        <div class="column field">
            <label>教师姓名</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="输入教师姓名" [(ngModel)]="staff.name" name="name">
        </div>
        <div class="column field">
            <label>联系电话</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="联系电话" [(ngModel)]="staff.phone" name="phone">
        </div>
        <div class="column field">
            <label>联系地址</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="联系地址" [(ngModel)]="staff.homeAddress" name="homeAddress">
        </div>
        <div class="column field">
            <label>地址邮编</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="地址邮编" [(ngModel)]="staff.homeZipCode" name="homeZipCode">
        </div>
        <div class="column field">
            <label>联系邮箱</label>
            <input class="left labeled" label="教师姓名" type="text" placeholder="联系邮箱" [(ngModel)]="staff.email" name="email" >
        </div>
    </div>
    

    <div class="ui column grid">
        <div class="column text-768-right">
            <div class="ui large buttons">
                <button class="ui button teal" (click)="handleSaveData()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                <div class="or"></div>
                <button class="ui button red" (click)="handleResetData()">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
            </div>
            <div>
            </div>
        </div>
    </div>
</form>
