


/**
 * global
 */

html,body,
my-app{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
login1-form,
.login-form-container,
md-sidenav-container,{
	height: 100%;
	width: 100%;
	background-color: #303030;
    color: #fff;
}
.spacer {
  flex: 1 1 auto;
}
.mat-card {
	margin: 8px;
}

@for $i from 1 to 10 {
    .pd#{$i*8} {
        padding: #{$i*8}px;
    }
}
@for $i from 1 to 10 {
    .mg#{$i*8} {
        margin: #{$i*8}px;
    }
}


/**
 *  login
 */
login1-form {
	display: block;
}
.mat-input-container {
	width: 300px
}


/**
 * nav
 */

md-sidenav .mat-menu-item {
	padding: 0px 40px;
}

/**
 * content
 */

.content-container {
	padding: 20px;
}

/**
 * myresources-component
 */
myresources-component {
	height: 100%;
	width: 100%;
	display: block;
}

/**
 * assets-component
 */
assets-component {
	height: 100%;
	width: 100%;
	display: block;
}

/**
 * personnel-component
 */

personnel-component {
	height: 100%;
    width: 100%;
}
/**
 * personal-component
 */
personal-component {
	height: 100%;
    width: 100%;
}




