html,
/**
 * global
 */

body,
my-app{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
login1-form,
.login-form-container,
md-sidenav-container{
	height: 100%;
	width: 100%;
}
.spacer {
  flex: 1 1 auto;
}

/**
 *  login
 */
login1-form {
	display: block;
}
.mat-input-container {
	width: 300px
}


/**
 * nav
 */

md-sidenav .mat-menu-item {
	padding: 0px 40px;
}

/**
 * content
 */

.content-container {
	padding: 20px;
}




