html,
/**
 * global
 */

body,
my-app{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}
login1-form,
.login-form-container,
md-sidenav-container {
	height: 100%;
	width: 100%;
}


/**
 *  login
 */
login1-form {
	display: block;
}
.mat-input-container {
	width: 300px
}


/**
 * nav
 */

md-list a {
	text-decoration: none;
}




