<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" class="full-width" class.xs="pd0 mg-tb16" class.sm="pd16" class.md="pd32" class.lg="pd64 pd-10" class.xl="pd64 pd-20">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="20" class="pd8">
            <a href="">
                <md-card>
                    <md-card-header>
                        <md-card-title>唐诗300首</md-card-title>
                        <md-card-subtitle>作者：张三</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../assets/img/shiba1.jpg">
                    <md-card-content>
                        <p>
                            学校：人民小学
                            <br /> 学段：高二
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayout="row" fxLayoutAlign="end end">
                        40人已下载
                    </md-card-actions>
                </md-card>
            </a>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="20" class="pd8">
            <a href="">
                <md-card>
                    <md-card-header>
                        <md-card-title>唐诗300首</md-card-title>
                        <md-card-subtitle>作者：张三</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../assets/img/shiba1.jpg">
                    <md-card-content>
                        <p>
                            学校：人民小学
                            <br /> 学段：高二
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayout="row" fxLayoutAlign="end end">
                        40人已下载
                    </md-card-actions>
                </md-card>
            </a>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="20" class="pd8">
            <a href="">
                <md-card>
                    <md-card-header>
                        <md-card-title>唐诗300首</md-card-title>
                        <md-card-subtitle>作者：张三</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../assets/img/shiba1.jpg">
                    <md-card-content>
                        <p>
                            学校：人民小学
                            <br /> 学段：高二
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayout="row" fxLayoutAlign="end end">
                        40人已下载
                    </md-card-actions>
                </md-card>
            </a>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="20" class="pd8">
            <a href="">
                <md-card>
                    <md-card-header>
                        <md-card-title>唐诗300首</md-card-title>
                        <md-card-subtitle>作者：张三</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../assets/img/shiba1.jpg">
                    <md-card-content>
                        <p>
                            学校：人民小学
                            <br /> 学段：高二
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayout="row" fxLayoutAlign="end end">
                        40人已下载
                    </md-card-actions>
                </md-card>
            </a>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="25" fxFlex.lg="20" class="pd8">
            <a href="">
                <md-card>
                    <md-card-header>
                        <md-card-title>唐诗300首</md-card-title>
                        <md-card-subtitle>作者：张三</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="../../../assets/img/shiba1.jpg">
                    <md-card-content>
                        <p>
                            学校：人民小学
                            <br /> 学段：高二
                        </p>
                    </md-card-content>
                    <md-card-actions fxLayout="row" fxLayoutAlign="end end">
                        40人已下载
                    </md-card-actions>
                </md-card>
            </a>
        </div>
    </div>
