<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" class="full-width" class.xs="pd0 mg-tb16" class.sm="pd16" class.md="pd32" class.lg="pd32">
    <div fxFlexFill fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="16px">
        <md-select placeholder="Favorite food" name="food" fxFlex="25" class="mg-tb16" fxFlexFill>
            <md-option value="apple">
                apple
            </md-option>
            <md-option value="banana">
                banana
            </md-option>
            <md-option value="pear">
                pear
            </md-option>
        </md-select>
        <md-select placeholder="Favorite food" name="food" fxFlex="25" class="mg-tb16" fxFlexFill>
            <md-option value="apple">
                apple
            </md-option>
            <md-option value="banana">
                banana
            </md-option>
            <md-option value="pear">
                pear
            </md-option>
        </md-select>
        <md-select placeholder="Favorite food" name="food" fxFlex="25" class="mg-tb16" fxFlexFill>
            <md-option value="apple">
                apple
            </md-option>
            <md-option value="banana">
                banana
            </md-option>
            <md-option value="pear">
                pear
            </md-option>
        </md-select>
        <md-select placeholder="Favorite food" name="food" fxFlex="25" class="mg-tb16" fxFlexFill>
            <md-option value="apple">
                apple
            </md-option>
            <md-option value="banana">
                banana
            </md-option>
            <md-option value="pear">
                pear
            </md-option>
        </md-select>
        <md-select placeholder="Favorite food" name="food" fxFlex="25" class="mg-tb16" fxFlexFill>
            <md-option value="apple">
                apple
            </md-option>
            <md-option value="banana">
                banana
            </md-option>
            <md-option value="pear">
                pear
            </md-option>
        </md-select>
    </div>
    <div>
        <ng2-file-input></ng2-file-input>
        <button fxFlex="15" md-raised-button fxFlexFill>文件上传</button>
    </div>
</div>
