


/**
 * global
 */
html.ios, 
html.ios body,
html,body,
my-app{
	height: 100%!important;
	width: 100%!important;
	margin: 0!important;
	padding: 0!important;
	display: block!important;
    background-color: white!important;
}

.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}

@for $i from 0 to 10 {
    .pd#{$i*8} {
        padding: #{$i*8}px!important;
    }
}

@for $i from 0 to 10 {
    .mg#{$i*8} {
        margin: #{$i*8}px;
    }
}
@for $i from 0 to 10 {
    .mg-tb#{$i*8} {
        margin: #{$i*8}px 0px!important;
    }
}
.primary-color {
    background-color: #009688!important;
}
pagination-container {
    display: block;
    width: 100%;
}
/**
 * login
 */
login1-form {
    display: block;
    height: 100%;
    padding: 32px;
    .ui.grid {
        height: 100%;
    }
    .ui.grid>.row>.column+.divider {
        left: 50%;
        height: 50%;
    }
    sm-segment {
        display: block;
        max-width: 400px;
        display:inline-block;
    }
}

/**
 * content
 */
content-container>.ui.container {
    padding:24px 0px;
    min-height: 100%;
}
.custom-nav-class {
    z-index: 1000;
    width: 100%;
}
.custom-nav-class {
    sm-segment>div.ui.segment {
        border-top-left-radius:0;
        border-top-right-radius:0;
    }

    sm-segment>div>p {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
    }
}
.sidebar.ui.labeled.icon.menu>a.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/**
 * content-personal-container
 */

content-personal-container {
    form.ui.form {
        padding: 24px 8px;
    }
    .ui.list.animated.divided.relaxed:after {
        display: block;
        content: "clear";
        height: 0;
        clear: both;
        overflow: hidden;
        visibility: hidden;
    }
}

@media screen and (min-width: 768px) {
    /**
     * login
     */
    login1-form {
        .ui.grid>.row>.column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 24px;
        }
        .ui.grid>.row>.column.login-left {
            align-items:flex-end;
            padding-right: 80px;
        }
        .ui.grid>.row>.column.login-right {
            align-items:flex-start;
            padding-left: 80px;
        }

    }
     
}
@media screen and (max-width: 767px) { 
    /**
     * login
     */
    login1-form {
        .ui.grid>.row>.column {
             text-align: center;
        }
        .login-left>div {
            max-width: 210px;
            display: inline-block;
            margin-top: 10%;
        }
    }

}












