<nav class="custom-nav-class" ngStickyNav>
	<sm-segment class="raised primary-color">
		<button class="large ui circular icon button" (click)="invertedSidebar.show({transition: 'overlay'})">
		  <i class="align justify icon"></i>
		</button>
		<img class="mini ui avatar image" src='http://semantic-ui.com/images/avatar2/small/rachel.png' />
	</sm-segment>
</nav>

<div class="ui container">
	<div class="row">
		<router-outlet></router-outlet>
	</div>
	
</div>


<sm-sidebar class="left inverted sidebar vertical menu" #invertedSidebar>  
	 <a class="item">
    	<div class="header"><i class="cloud icon"></i>&nbsp;&nbsp;红原县教育</div>
    </a>
	<div class="item">
		<div class="ui input"><input type="text" placeholder="Search..."></div>
	</div> 
	<a class="item" routerLink="index">
	    <i class=""></i>首页
	</a>
	<div class="ui item accordion " *ngFor="let menuitem of MenuSubmenu.Menu" >
		<div class="title">
			<i class="dropdown icon"></i>
			{{menuitem.title}}
		</div>
		<div class="content menu">
			<a class="item" *ngFor="let Submenuitem of menuitem.Submenus" routerLink="{{Submenuitem.url}}" (click)="invertedSidebar.hide()">
			    <i class="{{Submenuitem.iconFont}}"></i>{{Submenuitem.name}}
			</a>
		</div>
	</div> 
</sm-sidebar>


