<form class="ui form">                
            <div class="ui column stackable grid">
                <div class="column">
                    <label for="">个人简介</label>
                    <textarea placeholder="Enter address..."></textarea>
                </div>
            </div>
            <div class="ui column grid">
                <div class="column text-768-right">
                    <div class="ui large buttons">
                        <button class="ui button teal" (click)="myModal.show()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                        <div class="or"></div>
                        <button class="ui button red" (click)="myModal.show()">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</button>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
    	</form>