    <sm-menu title="Angular2" class="inverted teal mg-tb16" logo="http://semantic-ui.com/images/logo.png">
        <a sm-item (click)="handleAddStaff()"><i class="add user icon"></i>新增教师</a>
    </sm-menu>
    <table class="ui teal compact celled definition table">
        <thead class="full-width">
            <tr>
                <th></th>
                <th>id</th>
                <th>教师姓名</th>
                <th>教师编号</th>
                <th>教师账号</th>      
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of STAFFUS.entries;let i = index">
                <td>{{i+1}}</td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.staffNum}}</td>
                <td>{{item.userId == "0"?"":item.userId}}</td>
                
                <td>
                    <div class="ui buttons">
                        <button class="ui primary labeled icon button" (click)="handleCreateAccount(item.id, i)" *ngIf="item.userId == '0'">
                            <i class="edit icon"></i>生成账号
                        </button>
                        <button class="ui teal labeled icon button" (click)="handleModifyAccount(item, i)">
                            <i class="edit icon"></i>修改信息
                        </button>
                        <button class="ui red labeled icon button" (click)="handleRemoveAccount(item.id, i)">
                            <i class="remove user icon"></i>删除账号
                        </button>
                    </div>
                    
                </td>
            </tr>
            
        </tbody>
    </table>
    <!-- <pagination-container
        pageNum={{STAFFUS.pageNumber}} 
        hasNext={{STAFFUS.hasNext}} 
        hasPrevious={{STAFFUS.hasPrevious}} 
        (onFirst)="onFirstHandler($event)"
        (onLast)="onLastHandler($event)"
        (onNext)="onNextHandler($event)"
        (onPrevious)="onPreviousHandler($event)"
    ></pagination-container> -->

    <sm-modal title="教师基本信息" class="" icon="child icon" #staffModal>
    <modal-content>
       <form class="ui form" #myForm>
            <div class="ui two column doubling stackable grid">
                <div class="column field">
                   <label>教师姓名</label>
                    <input class="form-control left labeled" type="text" [(ngModel)]="STAFFMODALDATA.name" name="name" required/>
                </div>
                <div class="column field">
                    <label>教师编号</label>
                    <input class="left labeled" label="教师姓名" type="text" placeholder="教师编号" [(ngModel)]="STAFFMODALDATA.staffNum" name="staffNum" required>
                </div>
                 <div class="column field">
                    <label>学校</label>
                    <select class="ui dropdown SCHOOLSDICTIONARY" [(ngModel)]="STAFFMODALDATA.schoolId" name="schoolId" required>
                      <option value="{{item.id}}" *ngFor="let item of SCHOOLSDICTIONARY">{{item.name}}</option>
                    </select>
                </div>
                <div class="column field">
                    <label>学科</label>
                    <select class="ui dropdown SUBJECTSDICTIONARY" [(ngModel)]="STAFFMODALDATA.teachingSubject" name="teachingSubject" required>
                      <option value="{{item.id}}" *ngFor="let item of SUBJECTSDICTIONARY">{{item.name}}</option>
                    </select>
                </div>
            </div>
       </form>
    </modal-content>
    <modal-actions>
        <div class="ui large buttons">
            <button class="ui button teal submit" (click)="handleSaveStaff()">保存</button>
            <div class="or"></div>
            <div class="ui button red" (click)="staffModal.hide()">关闭</div>
        </div>
    </modal-actions>
</sm-modal>